In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
def create_data(IV):
    return IV * 2 + (np.random.randint(0,10))/10

In [4]:
create_data(1)

2.0

In [6]:
create_data(25)

50.4

In [7]:
df = []

In [8]:
counter = 0
while counter < 1000:
    value = {}
    value['IV'] = np.random.randint(0,100)
    df.append(value)
    counter += 1

In [9]:
df[:10]

[{'IV': 72},
 {'IV': 80},
 {'IV': 47},
 {'IV': 49},
 {'IV': 39},
 {'IV': 16},
 {'IV': 25},
 {'IV': 26},
 {'IV': 67},
 {'IV': 67}]

In [10]:
df = pd.DataFrame(df)

In [11]:
df

     IV
0    72
1    80
2    47
3    49
4    39
..   ..
995  57
996  57
997  38
998  32
999  68

[1000 rows x 1 columns]

In [12]:
df.describe()

                IV
count  1000.000000
mean     48.264000
std      28.046406
min       0.000000
25%      25.000000
50%      47.000000
75%      72.000000
max      99.000000

In [13]:
df['DV'] = df['IV'].apply(create_data)

In [14]:
df

     IV     DV
0    72  144.1
1    80  160.9
2    47   94.0
3    49   98.2
4    39   78.2
..   ..    ...
995  57  114.6
996  57  114.1
997  38   76.1
998  32   64.8
999  68  136.2

[1000 rows x 2 columns]

In [15]:
df.describe()

                IV           DV
count  1000.000000  1000.000000
mean     48.264000    96.975700
std      28.046406    56.101059
min       0.000000     0.000000
25%      25.000000    50.275000
50%      47.000000    94.050000
75%      72.000000   144.625000
max      99.000000   198.800000

## Using sklearn to train a model and make predictions

In [16]:
from sklearn.linear_model import LinearRegression

Instantiating the model

In [17]:
reg = LinearRegression()

In [18]:
reg

LinearRegression()

Fitting the model with training data

In [27]:
reg.fit(df[['IV']], df['DV'])

LinearRegression()

In [25]:
df[['IV']]

     IV
0    72
1    80
2    47
3    49
4    39
..   ..
995  57
996  57
997  38
998  32
999  68

[1000 rows x 1 columns]

In [26]:
df['DV']

0      144.1
1      160.9
2       94.0
3       98.2
4       78.2
       ...
995    114.6
996    114.1
997     76.1
998     64.8
999    136.2
Name: DV, Length: 1000, dtype: float64

In [29]:
reg.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

Getting the coefficient(s)

In [30]:
reg.coef_

array([2.00026763])

Making predictions

In [34]:
reg.predict([[1]])

array([2.43505075])

In [35]:
reg.predict([[100]])

array([200.46154609])

In [36]:
reg.predict([[50]])

array([100.44816461])

In [37]:
df['IV'].max()

99

In [38]:
reg.predict([[1000]])

array([2000.70241276])

## Statistical testing

In [39]:
import statsmodels.api as sm

In [40]:
Y = df['DV']
X = df['IV']

In [41]:
X = sm.add_constant(X)

In [42]:
model = sm.OLS(Y,X)

In [43]:
results = model.fit()

In [44]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     DV   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 3.780e+07
Date:                Fri, 02 Jul 2021   Prob (F-statistic):               0.00
Time:                        11:29:41   Log-Likelihood:                -174.59
No. Observations:                1000   AIC:                             353.2
Df Residuals:                     998   BIC:                             363.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4348      0.018     23.942      0.000       0.399       0.470
IV             2.0003      0.000   6147.890      0.000       2.000       2.001
==============================================================================
Omnibus:                      926.121   Durbin-Watson:                   2.108
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               62.830
Skew:                           0.021   Prob(JB):                     2.27e-14
Kurtosis:                       1.773   Cond. No.                         111.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Using the Google Analytics Dataset
(Modified for Digital Analytics)

In [45]:
data = pd.read_csv('/Users/t.b.araujouva.nl/OneDrive - UvA/DigitalSociety/TeachTheTeacher-Python/TeachTheTeacherPython-Datasets/googlestore_DA5weeklychallenges.csv')

/Users/t.b.araujouva.nl/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,3,7,9,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [46]:
data.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,trafficSource_adwordsClickInfo_slot,trafficSource_campaign,trafficSource_isTrueDirect,trafficSource_keyword,trafficSource_medium,trafficSource_referralPath,trafficSource_source,visitId,visitNumber,visitStartTime
0,0.0,0,Referral,0,20171001.0,Chrome,desktop,False,Macintosh,9460190543836614586,...,NaN,(not set),NaN,NaN,(none),/,(direct),1.506841e+09,1.0,1.506841e+09
1,1.0,0,Paid Search,1,20171001.0,Chrome,desktop,False,Macintosh,1480173241963500874,...,Top,AW - Dynamic Search Ads Whole Site,NaN,6qEhsCssdK0z36ri,cpc,NaN,google,1.506841e+09,1.0,1.506841e+09
2,2.0,0,Display,1,20171001.0,Chrome,mobile,True,Android,2873420789599649821,...,RHS,1000557 | GA | US | en | Hybrid | GDN Remarketing,NaN,(automatic matching),cpc,NaN,google,1.506841e+09,1.0,1.506841e+09
3,3.0,0,Display,1,20171001.0,Samsung Internet,mobile,True,Android,958777956895332252,...,RHS,1000557 | GA | US | en | Hybrid | GDN Remarketing,NaN,(automatic matching),cpc,NaN,google,1.506841e+09,1.0,1.506841e+09
4,4.0,0,Display,1,20171001.0,Safari,mobile,True,iOS,3000721821736270436,...,RHS,1000557 | GA | US | en | Hybrid | GDN Remarketing,NaN,(automatic matching),cpc,NaN,google,1.506841e+09,1.0,1.506841e+09

In [47]:
data.columns

Index(['Unnamed: 0', 'affiliate', 'channelGrouping', 'cpc', 'date',
       'device_browser', 'device_deviceCategory', 'device_isMobile',
       'device_operatingSystem', 'fullVisitorId', 'geoNetwork_city',
       'geoNetwork_continent', 'geoNetwork_country', 'geoNetwork_metro',
       'geoNetwork_networkDomain', 'geoNetwork_region',
       'geoNetwork_subContinent', 'isExit',
       'landing_appInfo_landingScreenName', 'landing_appInfo_screenDepth',
       'landing_appInfo_screenName', 'landing_contentGroup_contentGroup1',
       'landing_contentGroup_contentGroup2',
       'landing_contentGroup_contentGroup3',
       'landing_contentGroup_contentGroup4',
       'landing_contentGroup_contentGroup5', 'landing_hour',
       'landing_isEntrance', 'landing_isExit', 'landing_minute',
       'landing_page_hostname', 'landing_page_pagePath',
       'landing_page_pagePathLevel1', 'landing_page_pagePathLevel2',
       'landing_page_pagePathLevel3', 'landing_page_pagePathLevel4',
       'landing_page_pageTitle', 'landing_product_isClick',
       'landing_product_isImpression', 'landing_product_productBrand',
       'landing_product_productListName',
       'landing_product_productListPosition', 'landing_product_productPrice',
       'landing_product_productQuantity', 'landing_product_productSKU',
       'landing_product_productVariant', 'landing_product_v2ProductCategory',
       'landing_product_v2ProductName',
       'landing_promotionActionInfo_promoIsView',
       'landing_promotion_promoCreative', 'landing_promotion_promoId',
       'landing_promotion_promoName', 'landing_promotion_promoPosition',
       'landing_referer', 'landing_social_hasSocialSourceReferral',
       'landing_social_socialInteractionNetworkAction',
       'landing_social_socialNetwork', 'order_euros', 'referral',
       'totals_bounces', 'totals_newVisits', 'totals_pageviews',
       'totals_timeOnSite', 'totals_transactionRevenue', 'totals_transactions',
       'trafficSource_adContent',
       'trafficSource_adwordsClickInfo_adNetworkType',
       'trafficSource_adwordsClickInfo_gclId',
       'trafficSource_adwordsClickInfo_isVideoAd',
       'trafficSource_adwordsClickInfo_page',
       'trafficSource_adwordsClickInfo_slot', 'trafficSource_campaign',
       'trafficSource_isTrueDirect', 'trafficSource_keyword',
       'trafficSource_medium', 'trafficSource_referralPath',
       'trafficSource_source', 'visitId', 'visitNumber', 'visitStartTime'],
      dtype='object')

In [48]:
data['order_euros']

0        616.0
1          NaN
2          NaN
3        980.0
4        497.0
         ...
52305    977.0
52306    240.0
52307    764.0
52308      NaN
52309    990.0
Name: order_euros, Length: 52310, dtype: float64

In [49]:
data[['channelGrouping', 'device_browser', 'order_euros']].describe()

        order_euros
count  28815.000000
mean     412.265279
std      312.846197
min        1.000000
25%      131.000000
50%      336.000000
75%      691.000000
max      999.000000

In [50]:
data[['channelGrouping', 'device_browser', 'order_euros']].dtypes

channelGrouping     object
device_browser      object
order_euros        float64
dtype: object

In [51]:
data[['channelGrouping', 'device_browser', 'order_euros']].isna().sum()

channelGrouping        0
device_browser         0
order_euros        23495
dtype: int64

In [52]:
data['channelGrouping'].value_counts()

Organic Search    22781
Display           12579
Direct             6047
Referral           4994
Social             3828
Paid Search        1322
Affiliates          756
 :                    2
(Other)               1
Name: channelGrouping, dtype: int64

In [53]:
data['device_browser'].value_counts()

Chrome                        34324
Safari                         8883
Samsung Internet               3100
Android Webview                1783
Firefox                        1693
Internet Explorer               780
Opera Mini                      484
Edge                            432
Opera                           261
UC Browser                      220
Safari (in-app)                 141
Amazon Silk                      71
YaBrowser                        37
Android Browser                  35
Coc Coc                          15
Puffin                           13
Mozilla Compatible Agent         10
BlackBerry                        7
Maxthon                           7
1                                 2
osee2unifiedRelease               2
tfowdqmibyshaklxuregpcnzvj        1
ujvrzsonxihlgaqdmkwtbfcpey        1
wfpknuqxovyilmrdzbhgtecjas        1
(not set)                         1
Browser                           1
ecgiwapzltrkujdhmqsbxfonvy        1
Nintendo Browser                  1
SeaMonkey                         1
Seznam                            1
SAMSUNG-SM-B355E Opera            1
Name: device_browser, dtype: int64

In [54]:
data['order_euros'].describe()

count    28815.000000
mean       412.265279
std        312.846197
min          1.000000
25%        131.000000
50%        336.000000
75%        691.000000
max        999.000000
Name: order_euros, dtype: float64

In [55]:
data['order_euros_complete'] = data['order_euros'].fillna(0)

In [56]:
data['order_euros_complete'].describe()

count    52310.000000
mean       227.096616
std        309.781227
min          0.000000
25%          0.000000
50%         42.000000
75%        391.000000
max        999.000000
Name: order_euros_complete, dtype: float64

In [57]:
data['order_euros_complete'].isna().sum()

0

In [58]:
def is_organic_search(text):
    if text == 'Organic Search':
        return 1
    return 0

In [59]:
data['org_search'] = data['channelGrouping'].apply(is_organic_search)

In [60]:
data['org_search'].value_counts()

0    29529
1    22781
Name: org_search, dtype: int64

In [61]:
def is_chrome(text):
    if 'Chrome' in text:
        return 1
    else:
        return 0

In [63]:
data['chrome'] = data['device_browser'].apply(is_chrome)

In [64]:
data['chrome'].value_counts()

1    34324
0    17986
Name: chrome, dtype: int64

In [69]:
data['chrome']

0        1
1        1
2        1
3        0
4        0
        ..
52305    1
52306    1
52307    1
52308    1
52309    0
Name: chrome, Length: 52310, dtype: int64

In [70]:
data[['chrome', 'org_search', 'order_euros_complete']]

       chrome  org_search  order_euros_complete
0           1           0                 616.0
1           1           0                   0.0
2           1           0                   0.0
3           0           0                 980.0
4           0           0                 497.0
...       ...         ...                   ...
52305       1           0                 977.0
52306       1           1                 240.0
52307       1           0                 764.0
52308       1           1                   0.0
52309       0           0                 990.0

[52310 rows x 3 columns]

In [71]:
data[['chrome', 'org_search', 'order_euros_complete']].describe()

             chrome    org_search  order_euros_complete
count  52310.000000  52310.000000          52310.000000
mean       0.656165      0.435500            227.096616
std        0.474991      0.495827            309.781227
min        0.000000      0.000000              0.000000
25%        0.000000      0.000000              0.000000
50%        1.000000      0.000000             42.000000
75%        1.000000      1.000000            391.000000
max        1.000000      1.000000            999.000000

In [72]:
data[['chrome', 'org_search', 'order_euros_complete']].isna().sum()

chrome                  0
org_search              0
order_euros_complete    0
dtype: int64

In [73]:
features = ['chrome', 'org_search']

In [74]:
features

['chrome', 'org_search']

In [75]:
import statsmodels.api as sm

In [76]:
X = sm.add_constant(data[features])

In [77]:
model_euros = sm.OLS(data['order_euros_complete'], X)

In [78]:
results_model_euros = model_euros.fit()

In [79]:
results_model_euros.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     order_euros_complete   R-squared:                       0.133
Model:                              OLS   Adj. R-squared:                  0.133
Method:                   Least Squares   F-statistic:                     4023.
Date:                  Fri, 02 Jul 2021   Prob (F-statistic):               0.00
Time:                          12:03:05   Log-Likelihood:            -3.7052e+05
No. Observations:                 52310   AIC:                         7.411e+05
Df Residuals:                     52307   BIC:                         7.411e+05
Df Model:                             2
Covariance Type:              nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        349.1769      2.406    145.108      0.000     344.461     353.893
chrome       -36.8375      2.655    -13.874      0.000     -42.041     -31.634
org_search  -224.8195      2.543    -88.390      0.000    -229.805    -219.834
==============================================================================
Omnibus:                     4605.359   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5183.579
Skew:                           0.736   Prob(JB):                         0.00
Kurtosis:                       2.542   Cond. No.                         3.55
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [80]:
from sklearn.linear_model import LinearRegression

In [81]:
reg_order_euros = LinearRegression()

In [82]:
reg_order_euros.fit(data[features], data['order_euros_complete'])

LinearRegression()

In [83]:
reg_order_euros.coef_

array([ -36.83747443, -224.81947091])

In [84]:
reg_order_euros.predict([[1,1]])

array([87.51999672])

In [85]:
reg_order_euros.predict([[0,0]])

array([349.17694206])

In [86]:
reg_order_euros.predict([[1,0]])

array([312.33946763])

In [87]:
reg_order_euros.predict([[0,1]])

array([124.35747115])

# Moving to categorical targets

* Independent variable = feature
* Dependent variable = target or label

In [89]:
data['order_euros_complete'].describe()

count    52310.000000
mean       227.096616
std        309.781227
min          0.000000
25%          0.000000
50%         42.000000
75%        391.000000
max        999.000000
Name: order_euros_complete, dtype: float64

In [90]:
def purchased(order):
    if order == 0:
        return 0
    return 1

In [91]:
data['purchase'] = data['order_euros_complete'].apply(purchased)

In [92]:
data['purchase'].describe()

count    52310.000000
mean         0.550851
std          0.497412
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: purchase, dtype: float64

In [93]:
data['purchase'].value_counts()

1    28815
0    23495
Name: purchase, dtype: int64

In [94]:
features

['chrome', 'org_search']

In [95]:
from sklearn.linear_model import LogisticRegression

In [96]:
clf_lr = LogisticRegression(random_state=0)

In [97]:
clf_lr

LogisticRegression(random_state=0)

In [98]:
clf_lr.fit(data[features], data['purchase'])

LogisticRegression(random_state=0)

In [99]:
clf_lr.predict([[0,0]])

array([1])

In [100]:
clf_lr.predict([[0,1]])

array([1])

In [101]:
clf_lr.predict([[1,1]])

array([0])

In [102]:
clf_lr.predict([[1,0]])

array([1])

In [103]:
clf_lr.predict_proba([[0,0]])

array([[0.3966664, 0.6033336]])

In [104]:
clf_lr.predict_proba([[0,1]])

array([[0.49025323, 0.50974677]])

In [105]:
clf_lr.predict_proba([[1,0]])

array([[0.41424883, 0.58575117]])

In [106]:
clf_lr.predict_proba([[1,1]])

array([[0.50848778, 0.49151222]])

In [107]:
data.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,trafficSource_medium,trafficSource_referralPath,trafficSource_source,visitId,visitNumber,visitStartTime,order_euros_complete,org_search,chrome,purchase
0,0.0,0,Referral,0,20171001.0,Chrome,desktop,False,Macintosh,9460190543836614586,...,(none),/,(direct),1.506841e+09,1.0,1.506841e+09,616.0,0,1,1
1,1.0,0,Paid Search,1,20171001.0,Chrome,desktop,False,Macintosh,1480173241963500874,...,cpc,NaN,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0
2,2.0,0,Display,1,20171001.0,Chrome,mobile,True,Android,2873420789599649821,...,cpc,NaN,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0
3,3.0,0,Display,1,20171001.0,Samsung Internet,mobile,True,Android,958777956895332252,...,cpc,NaN,google,1.506841e+09,1.0,1.506841e+09,980.0,0,0,1
4,4.0,0,Display,1,20171001.0,Safari,mobile,True,iOS,3000721821736270436,...,cpc,NaN,google,1.506841e+09,1.0,1.506841e+09,497.0,0,0,1

In [109]:
data['predicted_purchase_LR'] = clf_lr.predict(data[features])

In [110]:
data.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,trafficSource_referralPath,trafficSource_source,visitId,visitNumber,visitStartTime,order_euros_complete,org_search,chrome,purchase,predicted_purchase_LR
0,0.0,0,Referral,0,20171001.0,Chrome,desktop,False,Macintosh,9460190543836614586,...,/,(direct),1.506841e+09,1.0,1.506841e+09,616.0,0,1,1,1
1,1.0,0,Paid Search,1,20171001.0,Chrome,desktop,False,Macintosh,1480173241963500874,...,NaN,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0,1
2,2.0,0,Display,1,20171001.0,Chrome,mobile,True,Android,2873420789599649821,...,NaN,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0,1
3,3.0,0,Display,1,20171001.0,Samsung Internet,mobile,True,Android,958777956895332252,...,NaN,google,1.506841e+09,1.0,1.506841e+09,980.0,0,0,1,1
4,4.0,0,Display,1,20171001.0,Safari,mobile,True,iOS,3000721821736270436,...,NaN,google,1.506841e+09,1.0,1.506841e+09,497.0,0,0,1,1

In [111]:
data.groupby('purchase')['predicted_purchase_LR'].value_counts()

purchase  predicted_purchase_LR
0         1                        15870
          0                         7625
1         1                        21295
          0                         7520
Name: predicted_purchase_LR, dtype: int64

In [112]:
from sklearn.naive_bayes import GaussianNB

In [113]:
clf_NB = GaussianNB()

In [114]:
clf_NB.fit(data[features], data['purchase'])

GaussianNB()

In [115]:
data['predicted_purchase_NB'] = clf_NB.predict(data[features])

In [116]:
data.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,trafficSource_source,visitId,visitNumber,visitStartTime,order_euros_complete,org_search,chrome,purchase,predicted_purchase_LR,predicted_purchase_NB
0,0.0,0,Referral,0,20171001.0,Chrome,desktop,False,Macintosh,9460190543836614586,...,(direct),1.506841e+09,1.0,1.506841e+09,616.0,0,1,1,1,1
1,1.0,0,Paid Search,1,20171001.0,Chrome,desktop,False,Macintosh,1480173241963500874,...,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0,1,1
2,2.0,0,Display,1,20171001.0,Chrome,mobile,True,Android,2873420789599649821,...,google,1.506841e+09,1.0,1.506841e+09,0.0,0,1,0,1,1
3,3.0,0,Display,1,20171001.0,Samsung Internet,mobile,True,Android,958777956895332252,...,google,1.506841e+09,1.0,1.506841e+09,980.0,0,0,1,1,1
4,4.0,0,Display,1,20171001.0,Safari,mobile,True,iOS,3000721821736270436,...,google,1.506841e+09,1.0,1.506841e+09,497.0,0,0,1,1,1

In [117]:
data.groupby('purchase')['predicted_purchase_NB'].value_counts()

purchase  predicted_purchase_NB
0         1                        15870
          0                         7625
1         1                        21295
          0                         7520
Name: predicted_purchase_NB, dtype: int64

In [118]:
from sklearn.neighbors import KNeighborsClassifier

In [119]:
clf_KNN = KNeighborsClassifier(n_neighbors=3)

In [120]:
clf_KNN.fit(data[features], data['purchase'])

KNeighborsClassifier(n_neighbors=3)

In [121]:
data['predicted_purchase_KNN'] = clf_KNN.predict(data[features])

In [122]:
data.groupby('purchase')['predicted_purchase_KNN'].value_counts()

purchase  predicted_purchase_KNN
0         1                         19675
          0                          3820
1         1                         24999
          0                          3816
Name: predicted_purchase_KNN, dtype: int64

* Training set ~ 80% (if you only have a test set) or 60% (if you also have a validation set)
* Test set 20%
* Validation set (if available) 20%

In [123]:
from sklearn.model_selection import train_test_split

In [124]:
train, test = train_test_split(data, test_size=0.2, random_state=42)

In [125]:
train.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,visitId,visitNumber,visitStartTime,order_euros_complete,org_search,chrome,purchase,predicted_purchase_LR,predicted_purchase_NB,predicted_purchase_KNN
12044,12044.0,0,Display,1,20171004.0,Chrome,mobile,True,Android,399270061740611406,...,1.507139e+09,2.0,1.507139e+09,971.0,0,1,1,1,1,1
32928,32927.0,0,Referral,0,20171009.0,Chrome,desktop,False,Linux,2283180547029955203,...,1.507573e+09,1.0,1.507573e+09,0.0,0,1,0,1,1,1
46083,46082.0,0,Social,0,20171013.0,Chrome,desktop,False,Windows,7946255075327832830,...,1.507909e+09,1.0,1.507909e+09,0.0,0,1,0,1,1,1
51064,51062.0,0,Organic Search,0,20171015.0,Chrome,desktop,False,Linux,7096084199090126291,...,1.508088e+09,1.0,1.508088e+09,182.0,1,1,1,0,0,1
25127,25127.0,0,Referral,0,20171007.0,Chrome,desktop,False,Windows,7.67655e+18,...,1.507392e+09,1.0,1.507392e+09,0.0,0,1,0,1,1,1

In [126]:
test.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,visitId,visitNumber,visitStartTime,order_euros_complete,org_search,chrome,purchase,predicted_purchase_LR,predicted_purchase_NB,predicted_purchase_KNN
36548,36547.0,0,Organic Search,0,20171010.0,Chrome,desktop,False,Macintosh,457810557350214392,...,1.507651e+09,1.0,1.507651e+09,132.0,1,1,1,0,0,1
26376,26376.0,0,Display,1,20171007.0,Chrome,mobile,True,Android,1.12241e+18,...,1.507419e+09,1.0,1.507419e+09,0.0,0,1,0,1,1,1
21940,21940.0,0,Organic Search,0,20171006.0,Chrome,desktop,False,Macintosh,5963631948501878610,...,1.507316e+09,1.0,1.507316e+09,154.0,1,1,1,0,0,1
8907,8907.0,0,Organic Search,0,20171003.0,Chrome,mobile,True,Android,233830236249633791,...,1.507068e+09,1.0,1.507068e+09,0.0,1,1,0,0,0,1
36441,36440.0,0,Organic Search,0,20171010.0,Chrome,desktop,False,Windows,24264360175766929,...,1.507649e+09,1.0,1.507649e+09,1.0,1,1,1,0,0,1

In [128]:
len(train), len(test), len(train)+len(test), len(data)

(41848, 10462, 52310, 52310)

In [129]:
clf_lr_test = LogisticRegression(random_state=0)

In [130]:
clf_lr_test.fit(train[features], train['purchase'])

LogisticRegression(random_state=0)

In [131]:
test['predicted_purchase_LR_test'] = clf_lr_test.predict(test[features])

<ipython-input-131-e8986de81e8a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['predicted_purchase_LR_test'] = clf_lr_test.predict(test[features])

In [132]:
clf_KNN_test = KNeighborsClassifier(n_neighbors=3)

In [133]:
clf_KNN_test.fit(train[features], train['purchase'])

KNeighborsClassifier(n_neighbors=3)

In [134]:
test['predicted_purchase_KNN_test'] = clf_KNN.predict(test[features])

<ipython-input-134-46243d428576>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['predicted_purchase_KNN_test'] = clf_KNN.predict(test[features])

In [135]:
test.head()

,Unnamed: 0,affiliate,channelGrouping,cpc,date,device_browser,device_deviceCategory,device_isMobile,device_operatingSystem,fullVisitorId,...,visitStartTime,order_euros_complete,org_search,chrome,purchase,predicted_purchase_LR,predicted_purchase_NB,predicted_purchase_KNN,predicted_purchase_LR_test,predicted_purchase_KNN_test
36548,36547.0,0,Organic Search,0,20171010.0,Chrome,desktop,False,Macintosh,457810557350214392,...,1.507651e+09,132.0,1,1,1,0,0,1,0,1
26376,26376.0,0,Display,1,20171007.0,Chrome,mobile,True,Android,1.12241e+18,...,1.507419e+09,0.0,0,1,0,1,1,1,1,1
21940,21940.0,0,Organic Search,0,20171006.0,Chrome,desktop,False,Macintosh,5963631948501878610,...,1.507316e+09,154.0,1,1,1,0,0,1,0,1
8907,8907.0,0,Organic Search,0,20171003.0,Chrome,mobile,True,Android,233830236249633791,...,1.507068e+09,0.0,1,1,0,0,0,1,0,1
36441,36440.0,0,Organic Search,0,20171010.0,Chrome,desktop,False,Windows,24264360175766929,...,1.507649e+09,1.0,1,1,1,0,0,1,0,1

In [136]:
test.groupby('purchase')['predicted_purchase_KNN_test'].value_counts()

purchase  predicted_purchase_KNN_test
0         1                              3978
          0                               731
1         1                              4959
          0                               794
Name: predicted_purchase_KNN_test, dtype: int64

In [137]:
from sklearn.metrics import confusion_matrix

In [139]:
print(confusion_matrix(test['purchase'], test['predicted_purchase_LR_test']))

[[1565 3144]
 [1471 4282]]

In [140]:
print(confusion_matrix(test['purchase'], test['predicted_purchase_KNN_test']))

[[ 731 3978]
 [ 794 4959]]

In [144]:
from sklearn.metrics import classification_report

In [147]:
print(classification_report(test['purchase'], test['predicted_purchase_LR_test']))

              precision    recall  f1-score   support

           0       0.52      0.33      0.40      4709
           1       0.58      0.74      0.65      5753

    accuracy                           0.56     10462
   macro avg       0.55      0.54      0.53     10462
weighted avg       0.55      0.56      0.54     10462

In [148]:
print(classification_report(test['purchase'], test['predicted_purchase_KNN_test']))

              precision    recall  f1-score   support

           0       0.48      0.16      0.23      4709
           1       0.55      0.86      0.68      5753

    accuracy                           0.54     10462
   macro avg       0.52      0.51      0.45     10462
weighted avg       0.52      0.54      0.48     10462

In [149]:
clf_KNN_test10 = KNeighborsClassifier(n_neighbors=10)

In [151]:
clf_KNN_test10.fit(train[features], train['purchase'])

KNeighborsClassifier(n_neighbors=10)

In [152]:
test['predicted_purchase_KNN_test10'] = clf_KNN_test10.predict(test[features])

<ipython-input-152-83545588bcb0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['predicted_purchase_KNN_test10'] = clf_KNN_test10.predict(test[features])

In [153]:
print(classification_report(test['purchase'], test['predicted_purchase_KNN_test10']))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      4709
           1       0.55      1.00      0.71      5753

    accuracy                           0.55     10462
   macro avg       0.27      0.50      0.35     10462
weighted avg       0.30      0.55      0.39     10462

/Users/t.b.araujouva.nl/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))